.button {
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	font-weight: 500;
	border: none;
	background-color: rgb(171, 241, 182, 0.8);
	padding: 10px;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.2s ease;
	white-space: nowrap;


	&:disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}

	&:hover:not(:disabled) {
		background-color: rgb(171, 241, 182, 1);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		transform: translateY(-2px);
	}
}
