.badge {
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
}

.realEstate {
	background-color: #1976d2;
}
.auto {
	background-color: #d32f2f;
}
.services {
	background-color: #388e3c;
}
