.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	font-size: 14px;
	margin-top: 10px;

	@media (max-width: 600px) {
		grid-template-columns: 1fr;
	}

	.item {
		display: flex;
		gap: 10px;
		align-items: center;

		.label {
			color: #374151;
			font-weight: 600;
			min-width: 84px;
			font-size: 13px;
		}

		.value {
			color: #4b5563;
			font-size: 13px;
		}
	}
}
